/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mongolian&family=Geologica:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Geologica", "Noto Sans Mongolian", sans-serif;
  background: #fafaf8;
  color: #1a1a14;
}

/* Fix Mongolian characters ү ө */
:lang(mn),
.mn {
  font-family: "Noto Sans Mongolian", "Geologica", sans-serif;
}
